{% extends 'base.html.twig' %}

{% block title %}cree votre annonce !!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="/css/style.css">
{% endblock %}
{% block body %}
	<a href="/">accueil</a>
	<div class="par">

		{{ form(MonFormulaire) }}
		</div>
		{% block javascripts %}

			<script>
				$('.dropdown-toggle').dropdown();
			</script>
		{% endblock %}
	{% endblock %}
