header {
  background-color: rgb(83, 83, 83);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
a {
  text-decoration: none;
  color: white;
  background-color: gray;
  padding: 1%;
}
.box {
  border: solid 1px black;
  width: 40%;
  margin: 20px auto;
  padding: 10px;
}
#poste {
  position: absolute;
  right: 10%;
}
.par {
  width: 60%;
  margin: 150px auto;
}
#pouet {
  width: 60%;
}
#lpouet {
  width: 70%;
}

footer {
  background-color: grey;
}
